$total-columns: 24;
@import "foundation/foundation.scss";
/* для заголовов */
@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);



textarea {
    height: 300px;
}

.full-width {
  max-width: 100%;
}

ul.errorlist {
    margin: 0px;
    padding: 0px;
    li {
        line-height:10px;
        margin: 0px;
        padding: 0px;
        color: #c0392b;
        font-size: 12px;
    }
}

@mixin clear_ul {
    /* ul без буллетов */
    list-style-type:none;
}


div#scrollToTop {
    display:none;
    position:fixed;
    left:30px;
    top:30px;
    cursor:pointer;
    z-index:999
}


h1,h2,h3,h4 {
    color: #414042;
    font-family: 'Tenor Sans', sans-serif;
    font-weight:400;
}

ul {
    list-style-type:none;
}

a {
    text-decoration:underline;
    &:hover {
        color:#2c3e50;
    }

}

@mixin category_card($blackground, $color, $color_hover) {
    padding-top:10px;
    background-color:$blackground;
    min-height: 530px;
    div.title {
        text-align:center;
        div {
            padding-top:5px;
            padding-bottom:5px;
            font-style:italic;
        }
    }
    h2 {
        text-align: center;
        color:$color;
        font-size:20px;
        text-transform: uppercase;
    }
    ul {
        li {
            color:$color;
            padding-top:7px;
            a {
                color:$color;
                font-size:14px;
                &:hover {
                    color:$color_hover;
                }
            }
        }
        li.more {
            text-align: center;
        }
        li.all {
            text-align: right;
            a {
                font-size:12px;
            }
        }
    }
}


div.navigation {
    text-align:center;
    padding-left: 0px;
    @extend .columns;
    @extend .small-24;
    @extend .large-24;
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
        li {
            float: left;
            padding-left:20px;
            a {

                text-decoration:none;
                text-transform: uppercase;
            }
        }
    }
    padding-bottom:30px;
}

body {
    div#training{
        padding-top: 20px;
        padding-bottom: 20px;
        background-color:#f39c12;
        div#user{
            @include category_card(#f39c12, #000, #2c3e50);
            min-height: 200px;
        }
        div#texts {
            @include category_card(#f39c12, #000, #2c3e50);
            min-height: 200px;
            padding-top: 70px;
        }
    }
    /* --- index page ----- */
    div#theory_and_practice{
        padding-top:20px;
        padding-bottom:20px;
        background-color:#2c3e50;
        div#theory {
            @include category_card(#3498db, #fff, #2c3e50);
        }
        div#practica {
            @include category_card(#27ae60, #fff, #2c3e50);
        }
        div.title div {
            color:#fff;
        }


    }
    div#school {
        margin-top: 10px;
        border-top: 5px solid #2c3e50;
        border-bottom: 5px solid #2c3e50;
        background: #fff;
        text-align: center;
        padding-bottom: 5px;
        font-size: 22px;
        h2 {
            margin: 0px;
            padding: 0px;
        }
        a {
            margin-top:0px;
            padding-top: 0px;
            &:hover {
               h2,h3 {
                   color:#3498db;

               }

            }
        }
    }
    div#articles {
        padding-top:30px;
        padding-bottom:30px;
        background-color: #ecf0f1;
        div#psi {
            @include category_card(#FFF, #000, #808080);
            border: 10px solid #2c3e50;
        }
        div#methods {
            @include category_card(#FFF, #000, #808080);
            border: 10px solid #2c3e50;
        }
        div#linguistics {
            @include category_card(#FFF, #000, #808080);
            border: 10px solid #2c3e50;
        }
    }

    /*  ----- категория ------  */
    div.category_header {
        div#engde {
            padding-top: 10px;
            ul li {
                line-height: 20px;
                a {
                    color: #FFF;
                    text-decoration:none;
                    font-weight:400;
                    &:hover {
                        color:#2c3e50;
                    }
                }
                a.site {
                    font-family: 'Tenor Sans', sans-serif;
                    text-transform: uppercase;
                    font-size:20px;
                }
                div {
                    strong {
                        font-weight:400;
                    }
                    color: #FFF;
                    font-weight:400;
                    padding-top:0px;
                    margin-top:0px;
                    font-size:10px;
                    line-height: 8px;
                }
            }
        }
        min-height: 300px;
        text-align: center;
        h1 {
            color:#fff;
            font-size:30px;
            text-transform: uppercase;
            a {
                color:#fff;
            }
        }

        div.description {
            color:#fff;
            font-style:italic;
            padding-bottom:10px;
        }
        div.navigation a {
            color:#2c3e50;
            &:hover {
                color:#FFF;
            }
        }
        div.navigation ul li.active a {
            color:#FFF;
        }
    }

    div.category_theory {
        background-color:#3498db;
    }
    div.category_practice {
        background-color:#27ae60;
    }
    div.article,
    div.category_linguistics,
    div.category_methods,
    div.category_psi {
        background-color: #2c3e50;
        div.navigation a {
            color:#bdc3c7;
        }
        div#engde ul li a{
            &:hover {
                color:#bdc3c7;
            }
        }
    }
    div.article {

        min-height: 100px;
    }
    div.article_content {
        padding-top:50px;
    }


    div#category_list {
        background-color:#fff;
        li {
            padding-top:16px;
            a {
                font-size:18px;
            }
        }
        li.active {
            a {
                color:#2c3e50;
                text-decoration: none;
            }
        }
        min-height: 300px;
    }



    div#footer {
        font: 12px/1.5 "Georgia", sans-serif;
        padding-top:20px;
        background-color: #34495e;
        color: #bdc3c7;
        ul {
            @include clear_ul;
            li {
                a {
                    color: #bdc3c7;
                    text-decoration:underline;
                    font-size:13px;
                    &:hover {
                        color:#000;
                    }
                }
            }
        }

        div#copy {
            @extend .columns;
            @extend .small-8;
            @extend .large-8;
        }

        div#sections {
            @extend .columns;
            @extend .small-8;
            @extend .large-8;
        }

        div#other_links {
            @extend .columns;
            @extend .small-8;
            @extend .large-8;
        }
    }




    p, table {

        font-size: 18px;
        line-height: 1.5;
        text-align:left;
        color: #666666;

    }

    h1 {
        font-size:25px;
        a {
            text-decoration:none;
            color: #414042;
        }
    }
    h2 {
        font-size:35px;
    }
    h3,h4 {
        text-transform: none;
        font-size:15px;
    }

    background-color: #f5f5f5;

    blockquote {
        font-size: 1.1em;
        line-height: 1.5;
        text-align:left;
        color: #666666;
        span.translate {
            font-size: 1em;
            font-style:italic;
        }
    }



}
