{% extends 'frontend/category_layout.html' %}
{% load static %}
{% load url from future %}

{% block page_title %}
    DAISY SCHOOL MOSCOW. {% block school_tilte %}Курсы иностранного языка{% endblock %}
{% endblock %}

{% block tilte_category %}
    <a href='{% url 'school' %}'>DAISY SCHOOL MOSCOW</a>
{% endblock %}

{% block tilte_category_description %}{% endblock %}

{% block category_class %}article{% endblock %}

{% block img_category %}{% endblock %}

{% block category_list %}
<div class='small-6 large-6 columns '>
    <ul>
        {% for art in school %}
        <li {% if art.name == about_content.name %}class='active'{% endif %}>
            <a href="{% url 'school_article' art.name %}">{{ art.title }}</a>
        </li>
        {% endfor %}
        <li {% if page == 'study' %}class='active'{% endif %}>
             <a href="{% url 'school_study' %}">Заявка на обучение</a>
        </li>
    </ul>
</div>
<div class='small-18 large-18 columns article_content'>
    {% autoescape off %}
    {% block school_content %}{% endblock %}
    {% endautoescape %}
</div>
{% endblock %}