{% extends 'frontend/category_layout.html' %}
{% load static %}
{% load url from future %}

{% block page_title %}{{ content.text.title }}{% endblock %}
{% block tilte_category %}{{ content.text.title }}{% endblock %}

{% block tilte_category_description %}{% endblock %}
{% block category_class %}article{% endblock %}

{% block category_list %}
<div class='large-offset-4  small-24 large-20  columns article_content'>
    {% autoescape off %}
    {{ content.text.content }}
    {% endautoescape %}
</div>
{% endblock %}

