{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width">
    <title>{% block page_title %}{% endblock %} | Изучение английского языка</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" charset="utf-8">
    <script type="text/javascript" src="{% static "js/jquery-2.0.0.min.js" %}"></script>
    <meta
      name="description"
      content="{% block meta_description %}Изучение английского языка{% endblock %}"
    >
    <script type="text/javascript" src="{% static "js/foundation/foundation.js" %}"></script>
  <!--  <script src="{% static "js/foundation/foundation.alerts.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.clearing.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.cookie.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.dropdown.js" %}"></script> -->
    <script type="text/javascript" src="{% static "js/foundation/foundation.forms.js" %}"></script>
  <!--  <script src="{% static "js/foundation/foundation.joyride.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.magellan.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.orbit.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.placeholder.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.reveal.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.section.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.tooltips.js" %}"></script> -->
  <!--  <script src="{% static "js/foundation/foundation.topbar.js" %}"></script> -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  {% block content %}{% endblock %}
  <div id='footer'>
        <div class='row'>
            <div id='copy'>
                Изучаем английский язык.<insertBefore>&copy; 2013.
            </div>
            <div id='sections'>
                <ul>
                    <li><a href='{% url 'theoretics' %}'>Теория</a></li>
                    <li><a href='{% url 'practice' %}'>Практика</a></li>
                    <li><a href='{% url 'psi' %}'>Психология обучения</a></li>
                    <li><a href='{% url 'methods' %}'>Методики обучения</a></li>
                    <li><a href='{% url 'linguistics' %}'>Языкознание</a></li>
                </ul>
            </div>
            <div class='other_links'>
                <ul>
                    <li><a href='{% url 'school' %}'>Курсы иностранного языка</a></li>
                </ul>
            </div>
            <div>
                <!--BETWEEN SSP CODE V3.0 START--><div id="b_script_1244693"><script async src="//cache.betweendigital.com/sections/2/1244693.js"></script></div><!--BETWEEN SSP END-->
            </div>
        </div>
    </div>

    </body>
</html>

{% block block_js %}{% endblock %}
<script type="text/javascript">
    $(document).foundation();
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21646183 = new Ya.Metrika({id:21646183,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21646183" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->