{% extends 'frontend/base.html' %}
{% load static %}
{% load url from future %}
{% block page_title %}Английский язык{% endblock %}

{% block site_title %}
    <h1><a href='{% url 'index' %}'>Изучение английского языка</a><h1>
{% endblock %}

{% block content %}

<div id='training'><div class='content_row'>
<div id='user'>
    <div class='title'>
        <h2>Самостоятельное обучение</h2>
        <img src='{% static 'img/user.png' %}'>
        <div>
            Тренировочные материалы, для самостоятельной работы
        </div>
    </div>
</div>
<div id='text_and_serivces'>
    <div class='row'>
        <div id='texts' id='texts'>
            <ul>
            <li><a href='{% url 'training_words' %}'>Список английских слов по темам</a></li>
            <li><a href='#'>Тексты на английском языке</a></li>
            <li><a href='{% url 'training_books' %}'>Книги на английском языке</a></li>
            </ul>
        </div>
        <div id='services'>&nbsp;</div>
    </div>
</div>
<div id='last'>&nbsp;</div>
</div></div>

<div id='theory_and_practice'>
    <div class='content_row'>
        <div id='theory'>
            <div class='title'>
                <h2>Теория</h2>
                <img
                    src='{% static 'img/books.png' %}'
                    width="150px"
                    alt='Теория английского языка'>
                <div>
                    Собрание теоретических материалов, раскрывающих ту или иную область знаний
                </div>
            </div>
            <ul>
                {% for art in theoretics %}
                <li>
                    <a href="{% url 'article' art.name %}">{{ art.title }}</a>
                </li>
                {% endfor %}
                <li class="more"> ... </li>
                <li class='all'>
                    <a href='{% url 'theoretics' %}' >Больше теоретических материалов</a>
                </li>
            </ul>
        </div>
        <div id='practica'>
            <div class='title'>
                <h2>Практика</h2>
                <img
                    src='{% static 'img/copybook.png' %}'
                    width="150px"
                    alt='Практика английского языка'
                >
                <div>
                    Теория немыслима без практики. Все то, без чего нельзя обойтись в реальной жизни. Настоящие ситуации, практические задания, домашняя работа.
                </div>
            </div>
            <ul>
                {% for art in practice %}
                <li>
                    <a href="{% url 'article' art.name %}">{{ art.title }}</a>
                </li>
                {% endfor %}
                <li class="more"> ... </li>
                <li class='all'>
                    <a href='{% url 'practice' %}' >Больше практических материалов</a>
                </li>
            </ul>
        </div>
        <div id='last'>&nbsp;</div>
    </div>
</div>

<div id='school'>
    <div class='row'>
        <h2>DAISY SCHOOL MOSCOW</h2>
        Наши курсы иностранного языка: <a href='{% url 'school' %}'>перейти</a>
    </div>
</div>

<div id='articles'>
    <div class='content_row'>
        <div id='psi'>
            <div class='title'>
                <h2>Психология обучения</h2>
                <img
                    src='{% static 'img/freud.png' %}'
                    width="150px"
                    alt='Психология обучения английскому языку'
                >
                <div>
                    Обучение новому языку тесно связано с психологическими особенностями обучающегося. Здесь приводится цикл статей с исследованиями обучаемости и мотивации.
                </div>
            </div>
            <ul>
                {% for art in psi %}
                <li>
                    <a href="{% url 'article' art.name %}">{{ art.title }}</a>
                </li>
                {% endfor %}
                <li class="more"> ... </li>
                <li class='all'>
                    <a href='{% url 'psi' %}' >Больше теоретических материалов</a>
                </li>
            </ul>
        </div>
        <div id='methods'>
            <div class='title'>
                <h2>Методология</h2>
                <img
                    src='{% static 'img/methods.png' %}'
                    width="150px"
                    alt='Методология обучения английскому языку'
                >
                <div>
                    Статьи, в которых рассказывается о полезных учебникиках, действенных или бесполезных методиках.
                </div>
            </div>
            <ul>
                {% for art in methods %}
                <li>
                    <a href="{% url 'article' art.name %}">{{ art.title }}</a>
                </li>
                {% endfor %}
                <li class="more"> ... </li>
                <li class='all'>
                    <a href='{% url 'methods' %}' >Больше методических материалов</a>
                </li>
            </ul>
        </div>
        <div id='linguistics'>
            <div class='title'>
                <h2>Языкознание</h2>
                <img
                    src='{% static 'img/runes.png' %}'
                    width="150px"
                    alt='Языкознание английского языка'
                >
                <div>
                    Статьи посвящянные английскому языку в целом: культуре, истории и развитии.
                </div>
            </div>
            <ul>
                {% for art in linguistics %}
                <li>
                    <a href="{% url 'article' art.name %}">{{ art.title }}</a>
                </li>
                {% endfor %}
                <li class="more"> ... </li>
                <li class='all'>
                    <a href='{% url 'linguistics' %}' >Больше материалов по языкознанию</a>
                </li>
            </ul>
        </div>
        <div id='last'>&nbsp;</div>
    </div>
</div>
{% endblock %}
   <!--
    <div class='row block'>
        <div class='small-6 large-6 columns service'>
            <div class='title'>
                <h2>Карточки для запоминания</h2>
            </div>

            <div class='row'>
                <div class='small-6 large-6 columns'>
                    <img src='{% static 'img/memory_card.jpg' %}'>
                </div>
                <div class='small-6 large-6 columns links'>
                    <ul>
                        <li><a href=''>Начать</a></li>
                        <li><a href=''>Правила</a></li>
                        <li><a href=''>О системе Лейтнера</a></li>
                    </ul>
                </div>
            </div>
            <p>Система Лейтнера — широко используемый метод для эффективного запоминания и повторения с помощью флэш-карточек, предложенный немецким ученым Себастьяном Лейтнером.
            </p>
        </div>

        <div class='small-6 large-6 columns service'>
            <div class='title'>
                <h2>Интерактивный тест</h2>
            </div>

            <div class='row'>
                <div class='small-6 large-6 columns'>
                    <img src='{% static 'img/interactive_test.jpg' %}'>
                </div>
                <div class='small-6 large-6 columns links'>
                    <ul>
                        <li><a href=''>Начать</a></li>
                        <li><a href=''>Правила</a></li>
                        <li><a href=''>О сервисе</a></li>
                    </ul>
                </div>
            </div>

            <p>Тестирование, при ответе на каждый вопрос возникает текст с пояснениями. Такой подход в обучении достаточно эффективен</p>
        </div>
    </div>
    -->
