{% extends 'frontend/base.html' %}
{% load static %}
{% block page_title %}Пример страницы{% endblock %}

{% block content %}

    <div id='header' class=''>
        <h1>Изучаем английский язык</h1>
    </div>
    <div>
        <h2>Теория</h2>
        <ul>
            <li><a href=''>Использование same, any</a></li>
            <li><a href=''>Неопределенный артикль an/a</a></li>
            <li><a href=''>Времена глаголов в английсокм языке</a></li>
        </ul>
    </div>
    <div>
        <h2>Практика</h2>
        <ul>
            <li><a href=''>Как заказать еду в ресторане на английском</a></li>
        </ul>
    </div>
    <div>
        <h2>Сервисы, помогающие изучению языка</h2>
        <ul>
            <li><a href=''>Карточки запоминания</a></li>
            <li><a href=''>Тесты с пояснениями</a></li>
        </ul>
    </div>
    <div>
        <h2>Дополнительно</h2>
        <ul>
            <li><a href=''>Методики изучения языка</a></li>
            <li><a href=''>Какие книги нужно купить начинающему</a></li>
            <li><a href=''>Для чего нужно знать английский язык</a></li>
        </ul>
    </div>
</body>
</html>
{% endblock %}


