{% extends 'frontend/category_layout.html' %}
{% load static %}
{% load url from future %}

{% block page_title %}
    Практика английского языка
{% endblock %}

{% block tilte_category %}
    Практика английского языка
{% endblock %}

{% block tilte_category_description %}
    Теория немыслима без практики. Все то, что без чего нельзя обойтись в реальной жизни.<br/> Настоящие ситуации, практические задания, домашняя работа.
{% endblock %}

{% block practice_class %}class='active'{% endblock %}
{% block category_class %}category_practice{% endblock %}

{% block img_category %}
    <img src='{% static 'img/copybook.png' %}' width="150px">
{% endblock %}

{% block category_list %}
<div class='large-offset-4  small-24 large-20  columns'>
    <ul>
        {% for art in practice %}
        <li>
            <a href="{% url 'article' art.name %}">{{ art.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}