{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
<div id='page'>
    <div id='header'>
        <div id='site_title'>
            {% block site_title %}
            <a href='{% url 'index' %}'>Изучаем английский язык</a>
            {% endblock %}
        </div>
        <div class='navigation'>
            <ul>
                <li><a href='{% url 'theoretics' %}'>Теория</a></li>
                <li><a href=''>Практика</a></li>
                <li><a href=''>Сервисы</a></li>
                <li><a href=''>Психология обучения</a></li>
                <li><a href=''>Методики обучения</a></li>
                <li><a href=''>Языкознание</a></li>
            </ul>
        </div>
    </div>

    {% block page_content %}{% endblock %}

    <div id='footer'>
        <div id='copy'>
            Изучаем английский язык.<br/>&copy; 2013.
        </div>
        <div id='sections'>
            <ul>
                <li><a href='{% url 'theoretics' %}'>Теория</a></li>
                <li><a href=''>Практика</a></li>
                <li><a href=''>Сервисы</a></li>
                <li><a href=''>Психология обучения</a></li>
                <li><a href=''>Методики обучения</a></li>
                <li><a href=''>Языкознание</a></li>
            </ul>
        </div>
        <div class='other_links'>
            <ul>
                <li><a href=''>О проекте</a></li>
                <li><a href=''>Контакты</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block block_js %}
<script>
$(document).ready(function() {
    $('body').append($("<div/>").attr("id","scrollToTop").html("<img src='{% static 'img/to_top.png' %}'/>").click(function () {
        $('html,body').animate({scrollTop: 0}, 'slow');
    }));

    $(window).scroll(function() {
        if ($(document).scrollTop() > 400) {
            $("#scrollToTop").fadeIn(250);
        } else {
            $('#scrollToTop').fadeOut(250);
        }
    });
})
</script>
{% endblock %}
